src/Account_Set_Subsidiary_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>all other records Subsidiary = 1</description>
        <name>Set_Subsidiary_1</name>
        <label>Set Subsidiary = 1</label>
        <locationX>1106</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>if Twinfield Office = 1000 then Subsidiary ID = 38</description>
        <name>Set_Subsidiary_38_Condition_Twinfield_0</name>
        <label>Set Subsidiary 38 (condition Twinfield)</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>38</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Billing Country = United Kingdom</description>
        <name>Set_Subsidiary_38_Country</name>
        <label>Set Subsidiary 38 (Billing Country)</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>38</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Currency = GBP or EUR so set to 38</description>
        <name>Set_Subsidiary_38_Currency</name>
        <label>Set Subsidiary 38 (Currency)</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>38</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set the Subsidiary ID from Parent</description>
        <name>SetSubsidiaryID_0_0_0</name>
        <label>SetSubsidiaryID</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Subsidiary_ID__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>if Billing Country = United Kingdom then set to 38 otherwise set to 1</description>
        <name>Check_Billing_Country</name>
        <label>Check Billing Country</label>
        <locationX>974</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Set_Subsidiary_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not United Kingdom</defaultConnectorLabel>
        <rules>
            <name>BillingCountry_United_Kingdom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subsidiary_38_Country</targetReference>
            </connector>
            <label>BillingCountry = United Kingdom</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Currency is EUR or GBP then set 38</description>
        <name>Check_Currency</name>
        <label>Check Currency</label>
        <locationX>776</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Check_Billing_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not EUR or GBP</defaultConnectorLabel>
        <rules>
            <name>Is_EUR_or_GBP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GBP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subsidiary_38_Currency</targetReference>
            </connector>
            <label>Is EUR or GBP</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Has a Parent and Subsidiary ID is set then use that - otherwise use Formula to set the Subsidiary ID</description>
        <name>Has_Parent_and_Has_Subsidiary_ID</name>
        <label>Has Parent and Has Subsidiary ID</label>
        <locationX>297</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Twinfield_1000_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parent (or Parent Customer Record Type) or Parent No Subsidiary ID</defaultConnectorLabel>
        <rules>
            <name>Has_Parent_and_Subsidiary_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Subsidiary_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSubsidiaryID_0_0_0</targetReference>
            </connector>
            <label>Has Parent and Subsidiary ID</label>
        </rules>
    </decisions>
    <decisions>
        <description>if the Twinfield Office = 1000 then set the Subsidiary = 38</description>
        <name>Twinfield_1000_0</name>
        <label>Twinfield = 1000</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not 1000 Further Logic required</defaultConnectorLabel>
        <rules>
            <name>Is_Twinfield_1000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Twinfield_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subsidiary_38_Condition_Twinfield_0</targetReference>
            </connector>
            <label>Twinfield = 1000</label>
        </rules>
    </decisions>
    <description>Set the Subsidiary ID IF the Subsidiary Override is NOT checked.  Either set from Parent Subsidiary ID or Calculate based on Twinfield Account ID, Currency (GBR, EUR), or Billing Country</description>
    <interviewLabel>Account: Set Subsidiary ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Set Subsidiary ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>171</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Parent_and_Has_Subsidiary_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subsidiary_Override__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
